.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.grid {
    display: none;
}

#loadmore {
    display: block;
    width: 200px;
    color: #fff;
    text-align: center;
    padding: 10px;
    background-color: rgb(26, 148, 255);
    text-decoration: none;
    font-size: 15px;
    margin: 30px auto;
    border-radius: 10px;
    line-height: 20px;
    transition: 0.3s;
}

#loadmore:hover {
    background-color: transparent;
    border: 1.5px solid rgb(26, 148, 255);
    color: rgb(26, 148, 255);
    font-weight: 550;
    transform: scale(1.02);
}

.noContent {
    pointer-events: none;
}